<header class="header">
  <div class="container header__container">
      <a href="#" class="header__logo">
          Xylon<span class="header__logo-accent">Vision</span>
      </a>

      <nav class="nav header__nav">
          <ul class="nav__list">
              <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
              <li class="nav__item"><a href="#methodology" class="nav__link">Методология</a></li>
              <li class="nav__item"><a href="#expertise" class="nav__link">Экспертиза</a></li>
            
              <li class="nav__item"><a href="#innovations" class="nav__link">Инновации</a></li>

              <li class="nav__item"><a href="#blog" class="nav__link">Блог</a></li>
              <li class="nav__item"><a href="#contact" class="nav__link">Контакты</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="#contact" class="btn btn--primary header__btn">Начать сейчас</a>
          <button class="burger" aria-label="Открыть меню">
              <span></span>
              <span></span>
          </button>
      </div>
  </div>
</header>
<div class="mobile-nav">
  <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
      <li class="nav__item"><a href="#methodology" class="nav__link">Методология</a></li>
      <li class="nav__item"><a href="#expertise" class="nav__link">Экспертиза</a></li>

      <li class="nav__item"><a href="#innovations" class="nav__link">Инновации</a></li>

      <li class="nav__item"><a href="#blog" class="nav__link">Блог</a></li>
      <li class="nav__item"><a href="#contact" class="nav__link">Контакты</a></li>
  </ul>
</div>